@import "bootstrap";

body {
	font-family: "Lato", sans-serif;
	background-color: #EEEEEE;
	justify-content: center;
	font-size: 110%;
}

container.nav {
	text-align: center;
}

a.btn.btn-primary {
	background-color: blue !important;
	color: white !important;
	text-align: center;
	border: none;
	outline: none;
	margin: 5% 0;
}

.sidenav#mySidenav {
	display: inline-block;
}

div#header div#logo {
	margin: 0 0 5% 0;
}

div#header {
	border-bottom: 1px solid grey;
}

div#header div#search_bar table#search_bar {
	white-space: nowrap;
	border-spacing: 1000px;
}

.footer {
	height: 25px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	color: black;
	text-align: center;
}
.field {
	font-weight: bold;
}
.content {
	min-height: calc(100vh - 30px);
}

th, text {
	font-weight: bold;
}

.round {
	border: 1px solid #7c7c7c;
	border-radius: 1px;
}

.flash_notice {
	border-left: 6px solid #D9B51C;
	font-weight: bold;
	background-color: lightgrey;
}

.flash_alert {
	border-left: 6px solid red;
	font-weight: bold;
	background-color: lightgrey;
}


.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #EEEEEE !important;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	a {
		padding: 8px 8px 8px 32px;
		text-decoration: none;
		font-size: 15px;
		color: #818181;
		display: block;
		transition: 0.3s;
		&:hover {
			color: #f1f1f1;
		}
	}
	.closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}
	#user-info {
		position: relative;
		margin-top: 10%;
	}
}

span.side-button {
	position: fixed !important;
	padding: 2.5% 2.5%;
}

f.label {
	color: #818181
}

.btn-link {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#btn-login {
	margin-left: 10px;
	margin-right: 30px;
}

#btn-signup {
	margin-right: 15px;
}

#btn-search {
	width: 50;
}

div#main {
	transition: margin-left .5s;
	padding: 0 5%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3%;
	display: block;
}

.ad-banner {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin: 5% 0;
}
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}
