// Place all the styles related to the UserProfiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#profile-header {
    background-image: linear-gradient(to right, steelblue, deepskyblue);
    div#profile-picture-space {
        background-color: white;
        width: 360px;
        height: 360px;
        border-radius: 180px;
        position: relative;
        image.profile-picture {
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}
div.info {
    text-align: center;
    width: 100%;
    div#title {
        width: 100%;
        text-align: right;
    }
    div#info {
        background: white;
        table{
            width: 100%;
        }
        tr:nth-child(even) {
            background-color: snow;
        }
        th {
            width: 50%;
            text-align: left;
            padding-left: 10px;
        }
        td {
            width: 100%;
            text-align: justify;
        }
    }
    div#buttons{
        text-align: center;
        background: #EEEEEE;
        padding: 1% 0;
        .btn {
            display: inline-block;
        }
    }
}