.p O <b>Saúde em Suas Mãos</b> é uma plataforma online que reúne as informações sobre
    as unidades de saúde da cidade do Recife em um só lugar, facilitando 
    a busca por unidades e tratamentos específicos.