h1 Termos e Condições
h4 Última atualização: 06 de abril de 2019



p Por favor leia atentamente estes termos e condições antes de prosseguir com o uso do MedMapper. O acesso e uso da plataforma depende do entendimento e colaboração dos termos abaixo. Os termos a seguir se aplicam para usuários, visitantes e outras pessoas que venham a acessar a plataforma. Acessando ou usando o nosso serviço você concorda com o cumprimento destes termos. Se houver discordância ou descumprimento com qualquer parte dos termos, você não poderá continuar utilizando nosso serviço. Os termos e condições para o MedMapper foram criados com a ajuda do TermsFeed.

h3 Cadastro
p Ao efetuar cadastro na plataforma você deve fornecer informação precisa, completa e atualizada. Deixar de fazê-lo constitui quebra destes termos e pode acarretar na imediata finalização da sua conta. Você é responsável pela proteção da senha usada para acessar o nosso serviço e qualquer atividade ou ação sob o uso da mesma, independente desta estar armazenada no nosso banco de dados ou em serviços de terceiros. Você concorda em não divulgar sua senha de acesso a terceiros e deve informar ao suporte imediatamente ao tomar ciência de uso não autorizado de sua conta.

h3 Links para outros sites
p Nossa plataforma pode contar links para páginas ou plataformas de terceiros que não são controladas por MedMapper.MedMapper não tem controle nem assume responsabilidade pelo conteúdo, política de privacidade, termos e condições ou práticas de sites e plataformas de terceiros. Você reconhece e concorda que MedMapper não tem responsabilidade ou culpa por qualquer dano ou perda causado ou supostamente causado pela conexão com tais plataformas, conteúdos ou serviços disponíveis em, ou através, de páginas de terceiros. Nós recomendamos fortemente que esteja ciente dos termos e condições de uso de quaisquer plataformas ou páginas de terceiros que visitar.

h3 Rescisão de Cadastro
p  Seu cadastro pode ser rescindido ou suspenso, sem aviso prévio, por qualquer motivo. Incluindo, mas não limitado à quebra destes ou outros termos e políticas que regem o acesso e uso da plataforma. A partir da rescisão de cadastro seu direito de utilizar a plataforma estará finalizado. Se desejar por algum motivo revogar seu cadastro, basta apenas descontinuar o uso da plataforma.

h3 Lei e Governo
p Estes termos serão regidos e interpretados pelas leis do Governo Brasileiro, sem levar em conta conflitos de disposições legais.Nossa falha em mencionar ou reforçar tais direitos ou disposições não significa, deforma alguma, que estes termos representam a renúncia de tais direitos edisposições. Se qualquer trecho destes termos estiver em contradição com a lei dealguma forma, este não invalida os demais termos do documento que continuam emvigor. Estes termos representam um acordo entre os administradores do MedMappere o usuário do serviço, e substitui quaisquer acordos prévios que tivemos a respeitodo uso de nosso serviço.

h3 Contato
p  Se ainda restarem quaisquer questões sobre estes ou quaisquer outros termos, favor entrar em contato conosco.

</ br>