= image_tag 'logo', style: 'width:10%;float:right;'

h1 Saúde em Suas Mãos

= link_to 'Unidades de Saúde', health_units_path
- if account_signed_in?
    = link_to 'Sair', destroy_account_session_path, method: :delete