body {
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    text-align: center;
   }
   
.text-center h1 {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: #083B66;
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
   }

button {
    position: relative;
    top: 10px;
    bottom: 10px;
}

b {
    font-weight: bold
}