p Olá #{@email}
    Caso você não seja #{@email}, ignore esta mensagem.
    
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

p Para mais informações acesse **link_to_website_here**
    .

p Atenção, esta é uma mensagem gerada automaticamente. Não é necessário
    respondê-la.

p Equipe LACAF, UFPE

p 3virgula14 (copyleft)