@charset 'utf-8';
 
@import "~bulma/sass/utilities/functions";
 
@import "./styles/custom_colors.scss";
 
$custom-colors: (
  "custom-red-darker": ($custom-red-darker),
  "custom-red-lighter": ($custom-red-lighter),
  "custom-gray": ($custom-gray),
  "custom-gray-darker": ($custom-gray-darker),
  "custom-black": ($custom-black),
);
 
// Import Bulma styles
@import "~bulma/bulma";
 
// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
